<div class="inner-page">
    <section class="container-benefits">

        <div class="decoration"></div>

        <div class="headline">
            <h3>Benefits</h3>
            <h2>{{ include.headline }}</h2>
            <p>{{ include.subhead }}</p>
        </div>

        <div class="benefit">
            <img src="{{ include.benefit-img-1 }}" alt="" />
            <h3>{{ include.benefit-heading-1 }}</h3>
            <p>{{ include.benefit-description-1 }}</p>
        </div>

        <div class="benefit">
            <img src="{{ include.benefit-img-2 }}" alt="" />
            <h3>{{ include.benefit-heading-2 }}</h3>
            <p>{{ include.benefit-description-2 }}</p>
        </div>

        <div class="benefit">
            <img src="{{ include.benefit-img-3 }}" alt="" />
            <h3>{{ include.benefit-heading-3 }}</h3>
            <p>{{ include.benefit-description-3 }}</p>
        </div>

        <div class="benefit">
            <img src="{{ include.benefit-img-4 }}" alt="" />
            <h3>{{ include.benefit-heading-4 }}</h3>
            <p>{{ include.benefit-description-4 }}</p>
        </div>

        <div class="benefit">
            <img src="{{ include.benefit-img-5 }}" alt="" />
            <h3>{{ include.benefit-heading-5 }}</h3>
            <p>{{ include.benefit-description-5 }}</p>
        </div>
    </section>
</div>