<section class="container-slider container-current-raffles">
    <div class="inner-page">
        <div class="headline">
            <h3>Featured</h3>
            <h2>{{ include.headline }}</h2>
            <p>{{ include.subhead }}</p>
        </div>

        <div class="wrapper-slider wrapper-raffles">
            <div class="slides raffles" data-offset="0">
                {% assign idx = 0 %}
                {% for raffle in site.data.raffles %}
                    {% if raffle.show and raffle.active %}
                        <div class="slide raffle">
                            <img src="{{ raffle.logo }}" alt="" />
                            <div>
                                {{ raffle.name }}
                                <p>
                                    <a href="https://rafflebox.ca/raffle/{{ raffle.shortLink }}" class="tertiary">View Details</a>
                                </p>
                            </div>
                        </div>
                        {% assign idx = idx | plus:1 %}
                        {% if idx == 9 %} {% break %} {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <a class="slider-prev" href="./#" aria-label="previous"><span>Previous</span></a>
        <a class="slider-next" href="./#" aria-label="next"><span>Next</span></a>
        <a href="{{ include.ctaLink }}" class="tertiary"><span>{{ include.ctaText }}</span></a>
    </div>
</section>


