<section class="container-faqs">
    <div class="inner-page">
        <h2>About raffles and 50/50</h2>
        <div class="container-expand">
            <a href="#">What is a raffle?</a>
            <div>A raffle is a means of raising money by selling numbered tickets, that are drawn at random. The holder of the randomly drawn number wins a prize. The prizes can be anything from a TV to a brand-new car!</div>
        </div>
        <div class="container-expand">
            <a href="#">What is a 50/50?</a>
            <div>A 50/50 Draw is a raffle in which the prize is one half the value of all tickets sold during the event or a defined period of time. The purchaser receives a ticket containing a number. A ticket stub with the same number is placed in a drum or other container for a draw to determine the winner!</div>
        </div>
        <div class="container-expand">
            <a href="#">How do I get a raffle license?</a>
            <div>Any registered Charity or non-profit can apply and receive a license through their provincial gaming body. It's free! Please contact Rafflebox if you need help applying for a license.</div>
        </div>
        <div class="container-expand">
            <a href="#">What if I'm not a registered charity or non-profit?</a>
            <div>You can contact any Charity or non-profit you want to fund-raise for and get a license through them. All the money raised goes directly to the Charitable group. You can optionally charge the Charity or non-profit a small Marketing Fee for supporting and advertising a raffle on behalf of one of these groups.</div>
        </div>
        <div class="container-expand">
            <a href="#">What's the difference between a traditional raffle and an online raffle?</a>
            <div>Traditional raffles are done by having people sell you physical tickets for cash and usually only last a few hours during an event. A online raffle can be run for a day, weeks, or months so it gives you lots more time to raise more money!</div>
        </div>
    </div>
</section>

<section class="container-faqs">
    <div class="inner-page">
        <h2>Fundraising with Rafflebox</h2>
        <div class="container-expand">
            <a href="#">Who creates the marketing poster for my raffle webpage?</a>
            <div>We can! If you provide us with your logos and colors, we can make you an awesome and fun marketing poster for your fundraiser! Or you can use one that you create – it’s up to you!</div>
        </div>
        <div class="container-expand">
            <a href="#">How much do your services cost?</a>
            <div>Please contact us for a personal quote!</div>
        </div>
        <div class="container-expand">
            <a href="#">Once my raffle webpage is live, how do I sell tickets?</a>
            <div>You simply share your webpage URL across all social media outlets and to any email contacts you have – it’s really that simple.</div>
        </div>
        <div class="container-expand">
            <a href="#">Where do all the sales funds go?</a>
            <div>We make every non-profit sign up with their own Stripe account. All money raised will go directly into the Stripe account controlled by the non-profit. We will bill you after the draw is over for our services.</div>
        </div>
        <div class="container-expand">
            <a href="#">How much time is required to run an online raffle?</a>
            <div>Practically no time at all! All you have to do is make a post every couple of days to get your word out – then you let the webpage do the rest!</div>
        </div>
        <div class="container-expand">
            <a href="#">Do you provide help with social media advertising?</a>
            <div>YES! We can launch Facebook Ads or Ads across any of the social media platforms for you.</div>
        </div>
        <div class="container-expand">
            <a href="#">How is the draw done?</a>
            <div>Rules and regulations differ from province to province, so depending on what province you live in, the draw can be done using a RNG (random number generator) or done manually with physical raffle tickets by your Charitable group. If a manual draw is done, physical raffle tickets will be sent to the Charity matching the raffle numbers sold on the site along with a master list of all ticket owner purchasers.</div>
        </div>
        <div class="container-expand">
            <a href="#">When my raffle is over, can I run another one?</a>
            <div>Of course! You can run as many as you want. It’s a great way to tap into a new revenue stream for your group.</div>
        </div>
        <div class="container-expand">
            <a href="#">What are Facebook Ads?</a>
            <div>
                <ul>
                    <li>Ads can appear in News Feed on desktop, News Feed on mobile, and in the right column of Facebook on desktop.</li>
                    <li>Ad content is sometimes paired with news about social actions that your friends have taken, like liking a Page.</li>
                    <li>Your friends might see news about the social actions you have taken in Facebook ads. This news will only be shown to your confirmed friends and will adhere to applicable privacy settings you've set for your account. If a photo is used, it's your profile photo and not a photo from your photo albums.</li>
                    <li>Facebook doesn't sell your info to advertisers.</li>
                    <li>Facebook actively enforces policies that help protect your experience with third-party apps and ad networks.</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="container-faqs">
    <div class="inner-page">
        <h2>Purchasing a ticket</h2>

        <div class="container-expand">
            <a href="#">How do I receive my purchased raffle ticket?</a>
            <div>Once you complete the purchase online, an e-mail receipt will be sent with all your ticket reference numbers. These will be the same numbers entered into the main draw. Depending on the province, you will also receive a copy of the official ticket numbers in the mail.</div>
        </div>
        <div class="container-expand">
            <a href="#">I purchased tickets but forgot to select a "In Support Of" member?</a>
            <div>Don't sweat, this happens all the time! Just contact us with the e-mail you purchased tickets with and the person you'd like us to put the purchase towards and then we'll make the changes and send you an updated receipt.</div>
        </div>
        <div class="container-expand">
            <a href="#">I accidently bought a ticket out of province or I'm not of legal age.  Can I get a refund?</a>
            <div>We currently block out of province sales with a check that determines if the billing address province is in the correct province. This is setup by the non-profit groups on their own Stripe account. If for some reason this is not setup and you accidently purchase a ticket out of province you can transfer ownership of the tickets to a valid participant by contacting Rafflebox support. If this is not possible, your ticket(s) will be voided and a refund will be provided to your credit card.</div>
        </div>
        <div class="container-expand">
            <a href="#">I tried to buy a ticket but there was an error "Sorry there was an error completing the transaction."?</a>
            <div>Don't worry your card was not charged. It's most likely because you were trying to buy a ticket with an out of province credit card. It's also possible that the purchase was blocked from your credit card for another reason. Try another credit card or please contact the non-profit you tried to purchase the tickets from and they will be able to look in their Stripe account to see what went wrong.</div>
        </div>
        <div class="container-expand">
            <a href="#">Is there a maximum number of tickets I can purchase?</a>
            <div>No, you can purchase as many tickets as you like!</div>
        </div>
        <div class="container-expand">
            <a href="#">How do I know if I have won the raffle?</a>
            <div>The non-profit group will contact you through e-mail to inform you that you've won. We have a master record of all ticket purchasers so you're ticket number is linked to your billing address. We will also update the event with the winning ticket numbers afer the draw date.</div>
        </div>
        <div class="container-expand">
            <a href="#">How will I get my money/prize from the non-profit if I win?</a>
            <div>The non-proift will contact the winner and typically issue a cheque to the winner if it's a cash prize. If it's a physical prize, the delivery of the prize will be handled by the non-proift running the raffle. Typically it would be done via pick up or shipment.</div>
        </div>
        <div class="container-expand">
            <a href="#">Can I participate in raffles that I'm not directly affiliated with?</a>
            <div>YES! As long as you are a resident of the province and of legal age you can purchase a raffle ticket with a chance of winning money or prizes. You do not have to be affliated with the group directly to participate. So please purchase tickets for as many raffles as you'd like. You'll be supporting a great cause and have a chance to win some great prizes.</div>
        </div>
        <div class="container-expand">
            <a href="#">Can I purchase a ticket for a friend who is out of province?</a>
            <div>YES! As long as the purchaser of the ticket is a resident of the hosted province and of legal age to claim the prize, what you decide to do with the prize after is up to you!</div>
        </div>
    </div>
</section>

<section class="container-faqs">
    <div class="inner-page">
        <p>If you have a question or concern that was not answered above, please feel free to contact us directly at <a href="mailto:support@rafflebox.ca" style="color:green;white-space: normal; display:inline;">support@rafflebox.ca</a></p>
    </div>
</section>