
<div class="footer">
    <div class="inner-page">
        <div class="decoration"></div>

            <ul class="footer-nav">
                <li><a href="./careers.html" class="reverse">Careers</a></li>
                <li><a href="./raffles.html" class="reverse">Live Raffles</a></li>
            </ul>

            <ul class="social-nav">
                <li><a href="https://twitter.com/" class="twitter"><span>Twitter</span></a></li>
                <li><a href="https://facebook.com/" class="facebook"><span>Facebook</span></a></li>
                <li><a href="https://instagram.com/" class="instagram"><span>Instagram</span></a></li>
                <li><a href="https://linkedin.com/" class="linkedin"><span>LinkedIn</span></a></li>
            </ul>
            <ul class="contact-info">
                <li><a href="mailto:info@rafflebox.ca">info@rafflebox.ca</a></li>
                <li><a href="tel:1-800-555-5555">1-800-555-5555</a></li>
            </ul>

    </div>

</div>

<style id="rafflesSearchFilter">
    /* dynamically generated CSS will be put in here */
</style>






