
<div class="footer">
    <p>FOLLOW US</p>
    <a href="http://twitter.com/" class="twitter"><span>Twitter</span></a>
    <a href="http://facebook.com/" class="facebook"><span>Facebook</span></a>
    <p>info@rafflebox.com</p>
</div>


<script type="text/javascript">

    // -> Mobile Nav

    var hamburger = document.getElementById("hamburger-menu");
    hamburger.addEventListener("click", function(event) {
        event.preventDefault();
        this.classList.toggle("active");
    })


    // -> Secondary Nav

    var menus = document.querySelectorAll(".menu > a");
    for (var i=0; i<menus.length; i++) {
        menus[i].addEventListener("click", toggleMenu);
    }
    function toggleMenu(event) {
        event.preventDefault();
        var isActive = -1 !== this.className.indexOf( "active" );
        var menus = document.querySelectorAll(".menu > a");
        for (var i=0; i<menus.length; i++) {
            menus[i].classList.remove("active");
        }
        if (isActive) {
            this.classList.remove("active");
        } else {
            this.classList.add("active");
        }
    }


    // -> Slider

    function shouldShowPrevious(offset, button) {
        if(offset == 0) {
            button.setAttribute('disabled', 'true')
        } else {
            button.removeAttribute('disabled')
        }
    }

    function shouldShowNext(slidesWrap, button) {
        var allSlides = slidesWrap.querySelectorAll(".slide");
        var lastSlide = allSlides[allSlides.length -1]
        if(lastSlide.getBoundingClientRect().right > slidesWrap.getBoundingClientRect().right) {
            button.removeAttribute('disabled')
        } else {
            button.setAttribute('disabled', 'true')
        }
    }

    var sliders = document.querySelectorAll(".container-slider");
    for (var i=0; i<sliders.length; i++) {
        var slideWrap = sliders[i];
        var slides = sliders[i].querySelector(".slides");
        var slideWidth = slides.querySelector(".slide").offsetWidth + 1;
        var next = sliders[i].querySelector(".slider-next");
        next.addEventListener("click", function(e) {
           e.preventDefault();
           var offset=parseInt(slides.getAttribute('data-offset')) + slideWidth;
           slides.setAttribute('style', 'transform: translate3d(' + (-1 * offset) + 'px, 0px, 0px);');
           slides.setAttribute('data-offset', offset);
            shouldShowPrevious(offset, prev);
            setTimeout(function() {shouldShowNext(slideWrap, next)}, 250);

        });
        var prev = sliders[i].querySelector(".slider-prev");
        prev.addEventListener("click", function(e) {
            var offset=parseInt(slides.getAttribute('data-offset')) - slideWidth;
            e.preventDefault();
            slides.setAttribute('style', 'transform: translate3d(' + (-1 * offset) + 'px, 0px, 0px);');
            slides.setAttribute('data-offset', offset);
            shouldShowPrevious(offset, prev);
            setTimeout(function() {shouldShowNext(slideWrap, next)}, 250);
        });
        shouldShowPrevious(parseInt(slides.getAttribute('data-offset')), prev);
        shouldShowNext(slideWrap, next);
    }



</script>





