<section class="container-hero">

    <div class="wrapper-img">
        <img src="{{ include.image-url }}" alt="" />
    </div>

    <div class="gradient"></div>

    <div class="inner-page">
        <div class="container-headline">
            <h1>{{ include.headline }}</h1>
            <h3>{{ include.subhead }}</h3>
            <a class="secondary reverse" href="{{ include.ctaLink }}"><span>{{ include.ctaText }}</span></a>
        </div>
    </div>

    <div class="decoration"></div>

</section>