<section class="container-hero">

    <div class="wrapper-img">
        <img src="{{ include.image-url }}" alt="" />
    </div>

    <div class="gradient"></div>

    <div class="inner-page">
        <div class="container-headline">
            <div class="container-icon-group">
                <img src="./images/icon-ticket.png" alt="" />
                <img src="./images/icon-phone.png" alt="" />
                <img src="./images/icon-balls.png" alt="" />
                <img src="./images/icon-click.png" alt="" />
            </div>
            <h1>{{ include.headline }}</h1>
            <h3>{{ include.subhead }}</h3>
            <a class="primary" href="#"><span>Watch video</span></a>
            <a class="secondary reverse" href="#"><span>Get started</span></a>
        </div>

        <div class="decoration"></div>
    </div>
</section>