<section class="leaders">
    <div class="container-leader-description" id="{{ include.leader-id-1 }}">
        <div class="inner-page">
            <img src="{{ include.leader-image-1 }}" alt="" />
            <h2>{{ include.leader-name-1 }}</h2>
            <p>{{ include.leader-description-1 }}</p>
            <div class="decoration"></div>
        </div>
    </div>

    <div class="container-leader-description" id="{{ include.leader-id-2 }}">
        <div class="inner-page">
            <img src="{{ include.leader-image-2 }}" alt="" />
            <h2>{{ include.leader-name-2 }}</h2>
            <p>{{ include.leader-description-2 }}</p>
        </div>
    </div>

    <div class="container-leader-description" id="{{ include.leader-id-3 }}">
        <div class="inner-page">
            <img src="{{ include.leader-image-3 }}" alt="" />
            <h2>{{ include.leader-name-3 }}</h2>
            <p>{{ include.leader-description-3 }}</p>
        </div>
    </div>

    <div class="container-leader-description" id="{{ include.leader-id-4 }}">
        <div class="inner-page">
            <img src="{{ include.leader-image-4 }}" alt="" />
            <h2>{{ include.leader-name-4 }}</h2>
            <p>{{ include.leader-description-4 }}</p>
        </div>
    </div>
</section>