<div class="navigation">
    <a href="#" class="hamburger" id="hamburger-menu"><span>Menu</span></a>
    <div>
        <div class="account-nav">
            <ul>
                <li class="label">Account:</li>
                <li class="join"><a href="./sign-up">Create</a></li>
                <li class="login"><a href="./login">Login</a></li>
            </ul>
        </div>
        <ul class="primary-nav">
            <li class="products menu">
                <a href="./products.html"><span>Products</span></a>
                <ul class="secondary-nav">
                    <li><a href="./products.html"><span>Overview</span></a></li>
                    <li><a href="./products.html#pricing"><span>Pricing</span></a></li>
                    <li><a href="./products.html#classic"><span>Types of Raffles</span></a></li>
                    <li><a href="./products.html#api"><span>Cloud API</span></a></li>
                </ul>
            </li>
            <li class="getstarted menu">
                <a href="/get-started.html"><span>Get Started</span></a>
                <ul class="secondary-nav">
                    <li><a href="./sign-up"><span>Create Account</span></a></li>
                    <li><a href="#"><span>Login</span></a></li>
                </ul>
            </li>
            <li class="support menu">
                <a href="/support.html"><span>Support</span></a>
                <ul class="secondary-nav">
                    <li><a href="./faqs"><span>FAQs</span></a></li>
                    <li><a href="#"><span>Help</span></a></li>
                </ul>
            </li>
            <li class="about menu">
                <a href="/about.html"><span>About</span></a>
                <ul class="secondary-nav">
                    <li><a href="./company.html"><span>About Rafflebox</span></a></li>
                    <li><a href="./careers.html"><span>Careers</span></a></li>
                </ul>
            </li>
            <li>
                <a href="/raffles.html" class="secondary"><span>Live Raffles</span></a>
            </li>
        </ul>
    </div>
</div>
