<div class="navigation">
    <a href="#" class="hamburger" id="hamburger-menu"><span>Menu</span></a>
    <div>
        <div class="account-nav">
            <ul>
                <li class="label">Account:</li>
                <li class="join"><a href="#">Create</a></li>
                <li class="login"><a href="#">Login</a></li>
            </ul>
        </div>
        <ul class="primary-nav">
            <li class="products menu">
                <a href="/products.html"><span>Products</span></a>
                <ul class="secondary-nav">
                    <li><a href="#"><span>Pricing</span></a></li>
                    <li><a href="#"><span>Classic 50/50</span></a></li>
                    <li><a href="#"><span>Modified 50/50</span></a></li>
                    <li><a href="#"><span>Prize Draws</span></a></li>
                    <li><a href="#"><span>API Integration</span></a></li>
                </ul>
            </li>
            <li class="getstarted menu">
                <a href="/get-started.html"><span>Get Started</span></a>
                <ul class="secondary-nav">
                    <li><a href="#"><span>Create Account</span></a></li>
                    <li><a href="#"><span>Login</span></a></li>
                    <li><a href="#"><span>Request a Demo</span></a></li>
                    <li><a href="#"><span>Contact Us</span></a></li>
                </ul>
            </li>
            <li class="support menu">
                <a href="/support.html"><span>Support</span></a>
                <ul class="secondary-nav">
                    <li><a href="#"><span>FAQ</span></a></li>
                    <li><a href="#"><span>Help</span></a></li>
                    <li><a href="#"><span>Blog & Resources</span></a></li>
                </ul>
            </li>
            <li class="about menu">
                <a href="/about.html"><span>About</span></a>
                <ul class="secondary-nav">
                    <li><a href="#"><span>Company Profile</span></a></li>
                    <li><a href="#"><span>Careers</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
