
<section class="products">
    <div class="container-product-description fiftyfifty" id="{{ include.product-id-1 }}">
        <div class="inner-page">
            <h2>{{ include.product-title-1 }}</h2>
            {{ include.product-description-1 }}
            <div class="audiences">
                <h4>Perfect for:</h4>
                <ul>
                    <li class="schools">{{ include.product-audience-1a }}</li>
                    <li class="charities">{{ include.product-audience-1b }}</li>
                    <li class="organizations">{{ include.product-audience-size-1 }}</li>
                </ul>
            </div>
            <a href="{{ include.product-cta-link-1 }}" class="secondary"><span>Download full description</span></a>
        </div>
    </div>
    <div class="container-product-description goldrush" id="{{ include.product-id-2 }}">
        <div class="inner-page">
            <h2>{{ include.product-title-2 }}</h2>
            {{ include.product-description-2 }}
            <div class="audiences">
                <h4>Perfect for:</h4>
                <ul>
                    <li class="schools">{{ include.product-audience-2a }}</li>
                    <li class="charities">{{ include.product-audience-2b }}</li>
                    <li class="organizations">{{ include.product-audience-size-2 }}</li>
                </ul>
            </div>
            <a href="{{ include.product-cta-link-1 }}" class="secondary"><span>Download full description</span></a>
        </div>
    </div>
    <div class="container-product-description raffleprize" id="{{ include.product-id-3 }}">
        <div class="inner-page">
            <h2>{{ include.product-title-3 }}</h2>
            {{ include.product-description-3 }}
            <div class="audiences">
                <h4>Perfect for:</h4>
                <ul>
                    <li class="schools">{{ include.product-audience-3a }}</li>
                    <li class="charities">{{ include.product-audience-3b }}</li>
                    <li class="organizations">{{ include.product-audience-size-3 }}</li>
                </ul>
            </div>
            <a href="{{ include.product-cta-link-1 }}" class="secondary"><span>Download full description</span></a>
        </div>
    </div>
</section>