<div class="inner-page">
    <section class="container-products">

        <div class="decoration"></div>

        <div class="wrapper-products">
            <div class="product">
                <img src="{{ include.product-img-1 }}" alt="" />
                <h3>{{ include.product-heading-1 }}</h3>
                <p>{{ include.product-description-1 }}</p>
            </div>

            <div class="product">
                <img src="{{ include.product-img-2 }}" alt="" />
                <h3>{{ include.product-heading-2 }}</h3>
                <p>{{ include.product-description-2 }}</p>
            </div>

            <div class="product">
                <img src="{{ include.product-img-3 }}" alt="" />
                <h3>{{ include.product-heading-3 }}</h3>
                <p>{{ include.product-description-3 }}</p>
            </div>

            <div class="product">
                <img src="{{ include.product-img-4 }}" alt="" />
                <h3>{{ include.product-heading-4 }}</h3>
                <p>{{ include.product-description-4 }}</p>
            </div>
        </div>

        <div class="headline">
            <h3>Flexible Options</h3>
            <h2>{{ include.headline }}</h2>
            <p>{{ include.subhead }}</p>
            <a class="secondary" href="{{ include.button-link }}"><span>{{ include.button-text }}</span></a>
        </div>
    </section>
</div>