<section class="container-quote">

    <div class="inner-page-hack">
        <div class="wrapper-quote">
            <div class="headline reverse">
                <img src="{{ include.thumbnail }}" alt="" />
                <blockquote>{{ include.quote }}</blockquote>
                <h4>&mdash;{{ include.name }}<br><em>{{ include.organization }}</em></h4>
            </div>
        </div>
        <div class="wrapper-facts">
            <div class="fact one"><span>Over <em>$80K</em> raised</span></div>
            <div class="fact two"><span><em>250</em> tickets</span></div>
            <div class="fact three"><span><em>30</em> days</span></div>
        </div>
    </div>

</section>