<section class="container-quote">

    <div class="inner-page-hack">
        <div class="wrapper-quote">
            <div class="headline reverse">
                <img src="{{ include.thumbnail }}" alt="" />
                <blockquote>{{ include.quote }}</blockquote>
                <h4>&mdash;{{ include.name }}<br><em>{{ include.organization }}</em></h4>
            </div>
        </div>
        <div class="wrapper-facts">
            <div class="fact one"><span>{{ include.fact-one }}</span></div>
            <div class="fact two"><span>{{ include.fact-two }}</span></div>
            <div class="fact three"><span>{{ include.fact-three }}</span></div>
        </div>
    </div>

</section>