<section class="container-disruptor with-image" id="{{include.id}}">
    <div class="inner-page">
        {% for raffle in site.data.raffles.data %}
        {% if raffle.show and raffle.active and raffle.hero %}
            <img src="{{ raffle.logo }}" alt="" />
            <div class="headline reverse">
                <h3><span>{{ include.headline}}</span></h3>
                <p>{{ raffle.name }}</p>
                <strong class="raffle-price reverse">$XX,XXX</strong>
                <a href="https://rafflebox.ca/raffle/{{ raffle.shortLink }}" class="reverse secondary"><span>View details</span></a>
            </div>
            {% break %}
        {% endif %}
        {% endfor %}
    </div>
</section>