<section class="container-raffle-list">
    <div class="inner-page">

        {% assign idx = 0 %}
        {% for raffle in site.data.raffles.data %}
        {% if raffle.show != true or raffle.active != true %}
            {% assign idx = idx | plus:1 %}
        {% endif %}
        {% endfor %}

        <div class="headline">
            <h3>{{ include.prehead }}</h3>
            <h2>{{ include.headline }} <strong>({% if idx > 42 %}42{% else %}idx{%endif%})</strong></h2>
            <p>{{ include.subhead }}</p>
        </div>

        <div class="wrapper-list wrapper-raffles" id="{{ include.id }}">
                {% assign idx = 0 %}
                {% for raffle in site.data.raffles.data %}
                    {% if raffle.show != true or raffle.active != true %}
                        <div class="raffle" data-tags="{{ raffle.shortLink}} {{ raffle.name }}" id="{{ raffle.id }}">
                            <img src="{{ raffle.logo }}" alt="" />
                            <div>
                                <p class="description">
                                    {{ raffle.name | escape jsonify }}
                                </p>
                                <strong class="raffle-price">
                                    $X,XXX
                                </strong>
                                <p>
                                    <a href="https://rafflebox.ca/raffle/{{ raffle.shortLink }}" class="tertiary">View Details</a>
                                </p>
                            </div>
                        </div>
                        {% assign idx = idx | plus:1 %}
                        {% if idx == 9 %}
                                <a href="#" class="link-show-all">
                                    <div class="show-all-divider">
                                        <div class="secondary"><span>All recently completed raffles</span></div>
                                    </div>
                                </a>
                        {% endif %}
                        {% if idx == 42 %}
                            {% break %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
        </div>
    </div>
</section>


