<section class="container-steps">
    <div class="inner-page">
        <div class="headline reverse">
            <h3>4 basic steps</h3>
            <h2>{{ include.headline }}</h2>
            <p>{{ include.subhead }}</p>
        </div>

        <div class="wrapper-steps">
            <div class="step">
                <img src="{{ include.step-img-1 }}" alt="" />
                <h3>{{ include.step-heading-1 }}</h3>
                <p>{{ include.step-description-1 }}</p>
            </div>

            <div class="step">
                <img src="{{ include.step-img-2 }}" alt="" />
                <h3>{{ include.step-heading-2 }}</h3>
                <p>{{ include.step-description-2 }}</p>
            </div>

            <div class="step">
                <img src="{{ include.step-img-3 }}" alt="" />
                <h3>{{ include.step-heading-3 }}</h3>
                <p>{{ include.step-description-3 }}</p>
            </div>

            <div class="step">
                <img src="{{ include.step-img-4 }}" alt="" />
                <h3>{{ include.step-heading-4 }}</h3>
                <p>{{ include.step-description-4 }}</p>
            </div>
        </div>

    </div>

</section>