.container-current-raffles {
  background: $grey;
  padding: 35px 0 35px;
  text-align: center;

  .headline {
    display: inline-block;
    margin-bottom: 35px;
    width: 100%;
  }

  .wrapper-raffles {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    .raffles {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 35px;
      position: relative;
      will-change: transform;
      transition: all ease-in-out 140ms;

      .raffle {
        flex: none;
        padding: 0 28px;
        position: relative;
        overflow: hidden;
        touch-action: pan-y;
        width: 100%;

        @media(min-width: 768px) {
          padding: 0 21px;
          width: 50%;
          width: calc( 100% / 2 );
        }

        @media(min-width: 998px) {
          padding: 0 14px;
          width: 33%;
          width: calc( 100% / 3 );
        }

        img {
          display: block;
          max-width: 100%;
          overflow: hidden;
        }

        div {
          background: $white;
          min-height: 229px;
          padding: 21px;
        }
      }
    }
  }

  .slider-prev, .slider-next {
    background: $blue;
  }
}

