.container-current-raffles {
  background: $grey;
  background: linear-gradient(0deg,$off-white 63%,$white 0);
  padding: 35px 0 35px;
  text-align: center;

  .headline {
    display: inline-block;
    margin-bottom: 35px;
    width: 100%;
  }

  .slider-prev, .slider-next {
    background: $blue;
  }
}


.raffle .description {
  margin: 7px 0;
  min-height: 60px;
}

.raffle-price {
  display: block;
  font-family: $price-font;
  font-size: 200%;
  font-weight: 700;
  letter-spacing: -0.02em;
  /*visibility: hidden;*/

  &:after {
    content: 'raised';
    font-size: 50%;
    font-weight: 100;
  }
}

.raffle div a {
  color: $blue;
}

