.container-disruptor {
  background: $green;
  min-height: 280px;
  padding: 70px 0;
  position: relative;
  text-align: center;

  &.with-images, &.with-image {
    background: $grey;
    text-align: left;

    @media(min-width: 768px) {
      .headline {
        max-width: 42%;
      }
    }

    .wrapper-images {
      height: 210px;
      margin-top: 175px;
      position: relative;
      width: 100%;

      @media(min-width: 768px) {
        height: auto;
        margin-top: auto;
        position: static;
        width: auto;
      }
    }

    img {
      border-radius: 14px;
      left: 35px;
      max-width: 245px;
      position: absolute;
      top: -105px;
      z-index: 21;

      @media(min-width: 768px) {
        left: 50%;
      }
    }

    img + img {
      bottom: -105px;
      left: auto;
      right: 35px;
      top: auto;
    }
  }

  &.with-image {

    background: $green;
    margin-bottom: 35px;
    padding: 21px 0;

    img {
      max-width: 100%;
      position: static;
    }

    @media(min-width: 768px) {

      margin-bottom: 70px;
      padding: 35px 0;

      img {
        float: right;
        max-width: 42%;
        position: absolute;
        top: 0;
      }
    }
  }

  .headline * {
    font-weight: 700;
  }

  p {
    clear: both;
    font-size: $medium-plus;
  }

  h3 {
    background: $paler-green;
    float: left;
    padding: 7px;
  }

  .decoration {
    @include dots;
    background-image: radial-gradient(circle at 3.5px 3.5px, $paler-green 3.5px, transparent 0);
    bottom: -70px;
    display: none;
    height: 175px;
    right: 105px;
    position: absolute;
    width: 140px;

    @media(min-width: 768px) {
      display: block;
    }
  }
}

