.container-disruptor {
  background: $green;
  min-height: 280px;
  position: relative;
  text-align: center;

  &.with-images, &.with-image {
    background: $grey;

    @media(min-width: 768px) {
      text-align: left;

      .headline {
        max-width: 42%;
      }
    }

    .wrapper-images {
      height: 210px;
      margin-top: 175px;
      position: relative;
      width: 100%;

      @media(min-width: 768px) {
        height: auto;
        margin-top: auto;
        position: static;
        width: auto;
      }
    }

    img {
      border-radius: 14px;
      left: 0;
      max-width: 210px;
      position: absolute;
      top: -140px;
      z-index: 21;

      @media(min-width: 768px) {
        left: 50%;
        max-width: 245px;
        top: -35px;
      }
    }

    img + img {
      bottom: 0;
      left: auto;
      right: 0;
      top: auto;

      @media(min-width: 768px) {
        bottom: -35px;
        right: 70px;
      }
    }
  }

  &.with-image {

    background: $green;

    img {
      max-width: 100%;
      position: static;
    }

    @media(min-width: 768px) {

      img {
        float: right;
        max-width: 42%;
        position: absolute;
        top: 35px;
      }
    }
  }

  .inner-page {
    padding: 70px 35px;
  }

  .headline * {
    font-weight: 700;
  }

  p {
    clear: both;
    font-size: $medium-plus;
  }

  h3 {
    background: $paler-green;
    float: left;
    padding: 7px;
  }

  .decoration {
    @include dots;
    background-image: radial-gradient(circle at 3.5px 3.5px, $paler-green 3.5px, transparent 0);
    bottom: 0;
    display: none;
    height: 175px;
    right: 105px;
    position: absolute;
    width: 140px;

    @media(min-width: 768px) {
      display: block;
    }
  }
}

.header + .container-disruptor.with-image {
  &:after {
    background: $white;
    bottom: 0;
    content: '';
    display: block;
    height: 35px;
    position: relative;
  }
}

.header + .container-disruptor.with-images {
  &:before {
    background: $white;
    content: '';
    display: block;
    height: 35px;
    position: relative;
    top: 0;
  }

  &:after {
    background: $white;
    bottom: 0;
    content: '';
    display: block;
    height: 35px;
    position: relative;
  }
}



