.container-products {
  background: $off-white;
  padding: 35px 0 0 0;
  position: relative;

  .inner-page {
    display: flex;
  }

  .wrapper-products {
    display: flex;
    flex-wrap: wrap;
    padding: 0 70px;
    width: 50%;
  }

  .headline {
    display: inline-block;
    margin-bottom: 35px;
    text-align: center;
    width: 100%;

    @media(min-width: 998px) {
      text-align: left;
      width: 42%;
    }
  }

  .product {
    display: inline-block;
    margin: 0 auto 35px;
    padding: 0 21px;
    text-align: center;

    img {
      border-radius: 50%;
      box-shadow: 0 0 14px $blue;
      margin-bottom: 14px;
      max-width: 119px;
      padding: 7px;
    }

    h3, p {
      margin-top: 0;
    }
  }

  .decoration {
    @include dots;
    bottom: 0;
    display: none;
    height: 140px;
    position:absolute;
    right: 0;
    width: 280px;
    z-index: -1;

    @media(min-width: 1200px) {
      display: block;
    }
  }
}

.container-product-description {

  padding: 35px 0;

  &:nth-child(odd) {
    background: $off-white;
  }

  &#classic {
    background-image: url(../images/watermark-fiftyfifty.png);
    background-position: calc(50% - 500px) 140px;
    background-repeat: no-repeat;

    h2:before {
      background-image: url(../images/product-5050.png);
    }
  }

  &#goldrush {
    background-image: url(../images/watermark-goldrush.png);
    background-position: calc(50% - 500px) 70px;
    background-repeat: no-repeat;

    h2:before {
      background-image: url(../images/product-goldrush.png);
    }
  }

  &#raffle {
    background-image: url(../images/watermark-raffleprize.png);
    background-position: calc(50% - 500px) 140px;
    background-repeat: no-repeat;

    h2:before {
      background-image: url(../images/product-raffle.png);
    }
  }

  h2:before {
    background-image: url(../images/icon-profile.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: ' ';
    display: inline-block;
    height: 49px;
    margin-right: 10.5px;
    width: 49px;
  }

  @media(min-width: 768px) {
    > * {
      padding: 70px 280px;
    }
  }
}

.audiences {
  color: $green;
  font-weight: 700;

  h4 {
    font-weight: 700;
    text-transform: uppercase;
  }

  ul {
    padding: 0 0 14px;
  }

  li {
    list-style: none;
    margin-bottom: 3px;
    margin-right: 14px;

    @media(min-width: 768px) {
      display: inline-block;
    }
  }

  li:before {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: ' ';
    display: inline-block;
    height: 21px;
    margin-right: 7px;
    width: 21px;
  }
  li.schools:before {
    background-image: url("../images/audience-schools.png");
  }
  li.charities:before {
    background-image: url("../images/audience-charities.png");
  }
  li.organizations:before {
    background-image: url("../images/audience-organizations.png");
  }
}
