.container-slider {
  padding: 35px 0 35px;
  text-align: center;

  .headline {
    display: inline-block;
    margin-bottom: 35px;
    width: 100%;
  }

  .wrapper-slider {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    .slides {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 21px;
      position: relative;
      will-change: transform;
      transition: all ease-in-out 140ms;

      .slide {
        flex: none;
        padding: 0 28px;
        position: relative;
        overflow: hidden;
        touch-action: pan-y;
        width: 100%;

        @media(min-width: 768px) {
          padding: 0 21px;
          width: 50%;
          width: calc( 100% / 2 );
        }

        @media(min-width: 998px) {
          padding: 0 14px;
          width: 33%;
          width: calc( 100% / 3 );
        }

        img {
          border-radius: 14px 14px 0 0;
          border: solid 1px $pale-grey;
          border-bottom: none;
          display: block;
          height: 175px;
          max-width: 100%;
          overflow: hidden;
          width: 100%;

          @media(min-width: 768px) {
            height: 232px;
          }
        }

        div {
          background: $white;
          border: solid 1px $pale-grey;
          border-top: none;
          min-height: 229px;
          padding: 21px;
        }
      }
    }
  }

  .slider-prev, .slider-next {
    background: $green;
    border-radius: 50%;
    bottom: 50%;
    display: block;
    position: absolute;
    height: 70px;
    right: 7px;
    transform: translateY(75%);
    transition: all ease-in-out 140ms;
    width: 70px;

    &.slider-prev {
      left: 7px;
      right: auto;
    }

    span {
      font-size: 0;
    }

    &:disabled, &[disabled] {
      background: $light-grey;
      pointer-events: none;
    }

    &:after {
      content: ' ';
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-left: 14px solid $white;
      display: inline-block;
      left: 50%;
      height: 0;
      position: absolute;
      top: 50%;
      transform: translate(-35%, -50%);
      transition: all ease-in-out 140ms;
      width: 0;
    }

    &.slider-prev {
      &:after {
        border-left: none;
        border-right: 14px solid $white;
        transform: translate(-50%, -50%);
      }
    }

    &:hover {
      &:after {
        transform: translate(-35%, -50%) scale(1.2);
      }

      &.slider-prev {
        &:after {
          transform: translate(-50%, -50%) scale(1.2);
        }
      }
    }
  }
}

