<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="{{page.section}}">

      {% include header.html %}

      {{ content }}

      <div class="wrapper-raffles-link">
          <div class="rotate-raffles-link reverse">
              <a class="raffles-link secondary tertiary reverse" href="./raffles.html"><span>Raffles</span></a>
          </div>
      </div>

      {% include footer.html %}

      <script src="./js/bundle.js" type="text/javascript"></script>
  </body>

</html>
